[submodule "CodeEditor"]
	path = CodeEditor
	url = https://github.com/bjornBES/CodeEditor.git
[submodule "lib"]
	path = lib
	url = https://github.com/bjornBES/CodeEditorLibrary.git
[submodule "GlobalLibrary"]
	path = GlobalLibrary
	url = https://github.com/bjornBES/GlobalLibrary.git
[submodule "ExtensionLibrary"]
	path = ExtensionLibrary
	url = https://github.com/bjornBES/ExtensionLibrary.git
